* {
    margin: 0;
    border: 0;
  }
*,
 *::before,
*::after {
    box-sizing: inherit;
  }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 60%;
  }
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
.container {
    background-color: #f9fafe;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
  }
  .container-col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #050c30;
    border-top-right-radius: 5rem;
    padding: 5px 0;
  }
  .logoholder {
    margin-top: 2rem;
  }
  h3 {
    font-weight: 600;
    font-size: 3rem;
  
    color: #ffffff;
  }
  .nav-icon {
    width: 2.1rem;
    z-index: 7;
  }
  .nav-icnholder {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  
    content: " ";
    background-color: #ccd0d100;
    z-index: 100;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-item:hover .nav-icnholder {
    background-color: #40c2fd;
    cursor: pointer;
  }
 .nav {
    width: 100%;
    list-style: none;
    margin: 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 2rem 0;
    margin-top:40px;
  }
  .nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 0.2rem;
  
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    padding: 0.4rem 1rem;
    padding-left: 3rem;
  }
  .nav-item:hover {
    cursor: pointer;
  }
  .nav-item-text {
    font-size: 1.7rem;
    margin-left: 2.1rem;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
  }
  .nav-item-text::after {
    width: 75%;
    content: " ";
    height: 100%;
    background-color: #435ac2;
    position: absolute;
  
    top: 0;
    right: 0;
    border-top-left-radius: 1rem;
    opacity: 0;
    border-bottom-left-radius: 1rem;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-item:hover .nav-item-text::after {
    opacity: 1;
  }
  .historyicon {
    height: 2rem;
  }
  .history {
    padding: 1.4rem;
    background-color: #ffffff;
    width: 70%;
    border-radius: 0.5rem;
  }
  .history-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .history-head {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
    color: #1e2957;
    margin-top: 2rem;
  }
  .history-text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;
    color: #1e2957;
    margin-top: 0.6rem;
  }
  .container-col2 {
    padding: 2rem;
    padding-right: 1rem;
  }
  .dashboard-top {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .inputholder {
    width: 30%;
    padding: 0.7rem 1.3rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5rem;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(156, 156, 156, 0.06),
      0px 4px 6px rgba(175, 175, 175, 0.1);
  }
  .inputtext {
    font-size: 1.6rem;
    font-family: inherit;
    color: #796969;
    letter-spacing: -0.03em;
    background-color: #ffffff;
    outline: none;
    border: none;
  }
  
  .input-icn {
    height: 2rem;
    margin-right: 1rem;
  }
  .icnholder-icn {
    height: 2.5rem;
  }
  .icnholder {
    background-color: #050c30;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border: 2px solid #ffffff00;
  }
  .icnholder:not(:last-child) {
    margin-right: 2rem;
  }
  .icnholder:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
  }
  .dashboard-top-icnholder {
    display: flex;
    flex-direction: row;
  }
  .content {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(156, 156, 156, 0.06),
      0px 4px 6px rgba(175, 175, 175, 0.1);
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    /* min-height: 85vh; */
    overflow: scroll;
    height: calc(100vh - 130px);
  }
  .content-card {
    padding: 1.3rem 2rem;
    background-color: #f3f5fa;
    border-radius: 1rem;
  }
  .content-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }
  .content-card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .content-card-graph {
    height: 5rem;
  }
  .content-card-head {
    font-weight: 600;
    line-height: 100%;
    font-size: 2.2rem;
    color: #424242;
  }
  .content-card-data {
    color: #616161;
    font-size: 1.4rem;
    line-height: 110%;
  }
  .content-card-data span {
    display: block;
    font-weight: 600;
  }
  .content-card-btm {
    padding: 1rem;
    margin-top: 1rem;
  }
  .content-card-amount {
    color: #212121;
    font-size: 3rem;
    line-height: 110%;
    font-weight: 600;
  }
  .content-btm {
    padding: 1rem 0;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }
  .graphholder {
    background-color: #ffff;
    width: 100%;
    grid-column: 1 / span 2;
    border-radius: 1rem;
  }
  .reference {
    background-color: #f3f5fa;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
  }
  .reference-head {
    font-size: 1.5rem;
    font-weight: 500;
    color: #424242;
    line-height: 100%;
  }
  .reference-value {
    font-size: 1.8rem;
    font-weight: 600;
    color: #212121;
    line-height: 100%;
  }
  .reference-value:not(:last-child) {
    margin-bottom: 2rem;
  }
  .content-course-status {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .content-course-status-col1 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .period {
    padding: 0.6rem 1rem;
    font-family: inherit;
    background-color: #050c30;
    color: #ffff;
    border-radius: 0.5rem;
  }
  .period:hover {
    cursor: pointer;
    color: #dadada;
  }
  .content-course-status-col2 {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .content-course-status-head {
    line-height: 100%;
    margin-bottom: 1rem !important;
  }
  .process-path {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .processline {
    height: 2px;
    width: 4rem;
    margin: 0 0.2rem;
    background-color: #6062a8;
    opacity: 0.7;
  }
  .course-details {
    height: 100%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .course-details-col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    grid-column: 1 / span 2;
  }
  .course-detail-card {
    position: relative;
    padding: 2rem;
    height: 100%;
    /* background-image: linear-gradient(
        113.23deg,
        rgba(255, 255, 255, 0.822) 10.84%,
        rgba(235, 235, 235, 0.863) 88.86%
      ),
      url("./resources/img/bg.jpg"); */
    background-size: cover;
  }
  .course-headline {
    font-size: 2.1rem;
    line-height: 110%;
    width: 80%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #6062a8;
  }
  
  .rating-star {
    height: 1.1rem;
  }
  .rating-star:not(:last-child) {
    margin-left: 0.3rem;
  }
  .ratingholder {
    display: flex;
    flex-direction: row;
    justify-content: flex;
    align-items: center;
  }
  .course-author {
    margin-left: 2rem;
    font-size: 1.6rem;
    color: #6062a8;
    font-weight: 500;
    letter-spacing: -0.05em;
  }
  .course-descri {
    font-size: 1.4rem;
    font-weight: 400;
    color: #6062a8;
    line-height: 150%;
    margin: 4rem 0;
  }
  .start-course {
    font-family: inherit;
    padding: 0.7rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #6062a8;
    color: #efeffa;
    transition: all 0.3s ease-out;
    margin-bottom: 2rem;
  }
  .start-course:hover {
    cursor: pointer;
    background-color: #efeffa;
    color: #6062a8;
  }
  .course-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .course-descri-head {
    font-size: 1.8rem;
    font-weight: 500;
    color: #6062a8;
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .course-descri-btm {
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
  }
  .course-learn-status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem;
    padding-top: 0;
  }
  .course-details-col2 {
  }
  .course-learn-status-section-head {
    background-color: #899cca;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .course-learn-status-text {
    font-size: 1.2rem;
    line-height: 120%;
    font-weight: 500;
    color: #ffff;
  }
  .course-learn-status-dropdown {
    height: 1rem;
  }
  .course-learn-status-section-lock {
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  .course-learn-status-time {
    min-width: 3rem;
    font-weight: 500;
    font-size: 1.3rem;
    color: #6062a8;
  }
  .course-learn-status-section-sub {
    background-color: #d4dcef;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    position: relative;
    width: 100%;
  }
  .course-learn-status-section-sub::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6062a8;
  }
  .course-learn-status-subtext {
    font-size: 1.1rem;
  
    width: 100%;
    line-height: 120%;
    font-weight: 500;
    color: #6062a8;
    margin: 0.5rem 0;
  }
  .courseinfo-row {
    margin-top: 0.8rem;
    padding-right: 0.8rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .courseinfo-text {
    color: #6062a8;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .courseinfo-row-holder {
    display: flex;
    flex-direction: row;
  }
  .courseinfo-value {
    font-weight: 600;
    margin-right: 0.5rem;
  }
  .player-container {
    background-color: #efeffa;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
  }
  .player-nav {
    background-color: #899cca;
  }
  .player-nav-top {
    padding: 2rem 1rem;
  }
  .player-heading {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffff;
    line-height: 100%;
  }
  .player-author {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1rem;
    color: #ffff;
  }
  .player-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .player-options {
    margin-top: 1rem;
  }
  .player-options-item {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.04em;
    padding: 1rem;
    position: relative;
    color: #ffff;
    /* cursor: pointer; */
  }
  .player-options-item-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #6264a7;
    transition: all 0.4s ease-in-out;
    height: 4px;
    left: 0;
  }
  .player-options-item-active {
    color: #ffc400;
  }
  .player-steps-icn-lock {
    height: 1.5rem;
  }
  .player-steps-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #eeeef9;
    position: relative;
  }
  .player-steps-head::after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 1.5px;
    background-color: #ffffff;
    width: 100%;
    left: 0;
  }
  .player-steps-subcategory {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.3rem 1rem;
    background-color: rgb(137, 156, 202);
    cursor: pointer;
  }
  .player-steps-icn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1.4px solid #40c2fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }
  .player-steps-head-texthead {
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(98, 100, 167);
    line-height: 110%;
    letter-spacing: -0.03em;
  }
  .player-steps-head-texttime {
    color: rgb(98, 100, 167);
  }
  .player-steps-text-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .player-steps-icn-play {
    height: 1.4rem;
  }
  .player-steps-icn-play {
    border: none;
  }
  .player-steps-head-texthead-sub {
    color: #ffff;
    font-size: 1.5rem;
  }
  .player-steps-head-texttime-white {
    color: #fff;
  }
  .player-steps-icn-locked {
    border: 2px solid #ffff;
  }
  .player-steps-head-locked {
    background-color: rgb(162, 176, 209);
  }
  .player-steps-arrow-icn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .player-steps-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
  .player-steps-arrow-icn {
    margin-right: 1rem;
    height: 1rem;
  }
  .player-steps {
    display: none;
  }
  .player-steps-active {
    display: initial;
  }
  .news {
    width: 100%;
  }
  .news-sec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
    padding-bottom: 0;
  }
  .newscard {
    width: 90%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 43px 0px rgb(112 92 92 / 44%)
  }
  
  .newscard-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
  }
  
  .newscard-top-usertext {
    font-size: 2.0rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 100%;
    color: #212121;
  }
  .newscard-top-time {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
    line-height: 100%;
    color: #757575;
  }
  .newscard-user {
    width: 4.5rem;
    border-radius: 50%;
  }
  
  .newscard-top-left {
    display: flex;
    flex-direction: row;
  }
  .newscard-top-left-text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;
  }
  .newscard-content {
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: -0.025em;
    line-height: 150%;
    color: #616161;
  }
  .newscard-content-img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    margin: 1rem 0;
  }
  .newscard-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .newscard-bottom-container {
    display: flex;
    flex-direction: row;
  }
  
  .newscard-bottom-container:not(:last-child) {
    margin-right: 2.5rem;
  }
  .newscard-bottom-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: #bdbdbd;
  }
  .newscard-bottom-icn {
    height: 1.3rem;
    margin-right: 0.7rem;
  }
  .newscard-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .newscard-top-icn {
    height: 1.7rem;
    opacity: 0.7;
    margin-right: 0.5rem;
  }
  .referral {
    padding: 2rem;
  }
  .referral-top {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: whitesmoke;
    padding: 0px 14px;
    padding-bottom: 17px;
    box-shadow: 0px 0px 5px 1px #dad8d8;
    border-radius: 4px;
  }
  .referral-item-head {
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(96, 98, 168);
    margin-top: 2rem;
  }
  .referral-sub {
    background-color: #fff;
    padding: 1.3rem 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 0.5rem;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 1px #dad8d8;
  }
  .referral-item {
    font-size: 1.5rem;
    font-weight: 400;
    color: #212121;
    color: #6062a8;
  }

  
  